.task_item {
	background-color: rgba(128, 128, 128, 0.226);
	font-size: 1.25rem;
	&:hover {
		background-color: rgba(95, 95, 95, 0.2);
	}
}
.action {
	display: flex;
	padding: 0px 10px;
}
.deleteBtn {
	display: flex;
	align-items: center;
	margin: auto;
	border: 1px solid red;
	padding: 0.5rem 0.25rem;
	font-size: 1.5rem;
	margin: 0px 5px;
	color: red;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(155, 21, 21);
		color: rgb(205, 205, 205);
	}
}
.updateBtn {
	margin: auto auto;
	display: flex;
	align-items: center;
	border: 1px solid blue;
	padding: 0.5rem 0.25rem;
	font-size: 1.5rem;
	color: blue;
	margin: 0px 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(48, 27, 163);
		color: rgb(205, 205, 205);
	}
}

.viewBtn {
	display: flex;
	justify-content: center;
	border: 1px solid rgb(23, 104, 66);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: rgb(13, 109, 37);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(10, 85, 32);
		color: rgb(205, 205, 205);
	}
}

tr {
	padding: 0.25rem;
	text-align: center;
	vertical-align: center;
	height: 10px;
	border-radius: 20px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(63, 83, 70, 0.288);
}
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(92, 85, 85, 0.3);
	background-color: #f5f5f500;
	border-radius: 200px;
}

*::-webkit-scrollbar {
	width: 2px;
	background-color: #00000000;
	overflow: hidden;
	border-radius: 200px;
}

*::-webkit-scrollbar-thumb {
	background-color: #056641;
	border-radius: 20px;
}

.modal {
	position: absolute;
	overflow: auto;
	justify-content: space-between;
	// gap: 100px;
	width: 80%;
	height: 600px;
	padding: 30px;
	margin: 5% 10%;

	@media screen and (max-width: 760px) {
		// transform: translateY(0%);
	}

	border: solid;

	background: rgb(140, 184, 131);
	border-radius: 20px;
	.modalClose {
		display: inline-block;
		float: right;

		border: 1px solid rgb(224, 224, 224);
		padding: 0.5rem 1.5rem;
		font-size: 1.6rem;
		background-color: rgba(245, 222, 179, 0.534);
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgb(100, 109, 100);
			color: rgb(205, 205, 205);
		}
	}
	h2 {
		display: block;
		color: #056641;
	}
}

// modal

.topBar {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}

.taskList_table {
	width: 100%;
	margin-top: 2rem;
}

.containerflex {
	display: flex;
	align-items: center;
	font-size: small;
	margin-top: 1rem;
	gap: 5px;
	.a {
		text-decoration: none;
		cursor: pointer;
		background-color: #156542;
	}
}

.links {
	font-size: 1.5rem;
	font-weight: bolder;
	color: rgb(13, 72, 121);
	text-decoration: underline;
}
