.title {
	color: wheat;
	text-shadow: 2px 2px 2px rgb(90, 62, 62);
	text-align: center;
	.pageTitle {
		font-size: 4rem;
	}
}
.topBar {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}
.addNew {
	display: flex;
	align-items: center;
	background-color: #187f52;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	margin: 1rem 0%;
	color: white;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}
.hideBtn {
	display: none;
}

.addNewForm {
	width: 100%;
	label {
		font-size: 1rem;
		margin-left: 1.5rem;
		text-align: center;
	}
	h1 {
		margin-left: 50%;
	}
	input,
	textarea {
		font-size: smaller;
		margin: 1rem 4rem;
		display: block;
		padding: 1rem;
		height: 130px;
		width: 70%;
		border: none;
		border-radius: 5px;
		font-size: 1.8rem;
		color: black;
		background-color: #bbbbbb;
	}
	input[type='text'] {
		width: 50%;
		height: 5rem;
	}
	button {
		display: flex;
		margin: 1rem 4rem;
		background-color: #21865a;
		padding: 1rem 2rem;
		font-size: 1.8rem;
		border: none;
		color: white;
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgba(3, 65, 27, 0.829);
		}
	}
	.view {
		display: flex;
		margin: 1rem 4rem;
		background-color: #394640;
		padding: 1rem 2rem;
		font-size: 1.8rem;
		border: none;
		background-color: #394640;
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgba(3, 65, 27, 0.829);
		}
	}
	.disabledBtn {
		display: flex;
		margin: 1rem 4rem;
		background-color: #535050;
		padding: 1rem 2rem;
		font-size: 1.8rem;
		border: none;
		background-color: #5a5757;
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgba(139, 136, 136, 0.767);
		}
	}
}
.taskList_table {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 10rem;
}

.cancelBtn {
	display: flex;
	margin: 1rem 4rem;
	background-color: #bbbbbb;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}

.containerflex {
	width: 100%;
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-size: small;
	gap: 5px;
	margin-top: 1rem;
	background-color: #187f524b;
	border-radius: 20px;
	padding: 5px;
}
.taskList_table {
	top: 0;
	width: 100%;
}

.tableContainer {
	display: flex;
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}

.modal {
	position: absolute;
	overflow: auto;
	justify-content: space-between;
	// gap: 100px;
	width: 50%;
	height: 400px;
	padding: 30px;
	margin: 5% 20%;

	@media screen and (max-width: 760px) {
		// transform: translateY(0%);
	}

	border: solid;

	background: rgb(140, 184, 131);
	border-radius: 20px;

	label {
		margin-top: 100px;
	}

	h1 {
		display: block;
		color: wheat;
		text-shadow: 2px 2px 2px rgb(90, 62, 62);
		margin: auto 10px;
	}
	h3 {
		color: wheat;
		text-shadow: 2px 2px 2px rgb(90, 62, 62);
		margin: auto 10px;
	}
}

.modalSmall {
	position: absolute;
	overflow: auto;
	justify-content: space-between;

	width: 40%;
	height: 250px;
	padding: 30px;
	margin: 5% 20%;
	border: solid;
	background: rgb(140, 184, 131);
	border-radius: 20px;
	input {
		width: 100%;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(63, 83, 70, 0.288);
}

.modalClose {
	display: inline-block;
	float: right;

	border: 1px solid rgb(224, 224, 224);
	padding: 0.5rem 1.5rem;
	font-size: 1.6rem;
	background-color: rgba(245, 222, 179, 0.534);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(100, 109, 100);
		color: rgb(205, 205, 205);
	}
}
