header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 2rem;
}
.userInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.userIcon {
		display: block;
		margin-top: 20px;
		width: 60px;
		height: 100%;
		border-radius: 50%;

		padding: 0.5rem;
		background-color: #e6e6e6;
	}
	.editBtn {
		display: block;
		color: rgb(17, 116, 119);
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-top: 10px;
		font-weight: lighter;
		cursor: pointer;
	}
	.name {
		font-size: 2.5rem;
		text-transform: capitalize;
		color: wheat;
		text-shadow: 2px 2px 2px rgb(90, 62, 62);
	}
	.email {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.role {
		font-size: 1.5rem;
		font-weight: 300;
		text-shadow: 0px 1px 0.5px rgba(75, 2, 192, 0.267);
		text-transform: capitalize;
	}
}
.logout {
	// justify-self: center;
	background-color: rgb(6, 81, 83);
	font-weight: 900;
	padding: 1rem 2rem;
	margin-left: 50px;
	font-size: 1rem;
	box-shadow: 0px 1px 2px black;
	text-transform: uppercase;
	color: rgba(255, 252, 252, 0.822);
	border-radius: 50px;
	border: 0px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgba(6, 151, 83, 0.301);
	}
}

nav {
	display: flex;
	flex-direction: row;
}
.flex {
	display: flex;
	width: 0rem 10rem;
}

.Playground {
	margin: 1rem;
	background-color: rgba(37, 116, 72, 0.767);
	font-weight: 900;
	padding: 1rem 2rem;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(243, 243, 243);
	border-radius: 50px;
	border: 0px black solid;

	box-shadow: 0px 0px 2px black;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgba(255, 255, 255, 0.301);
		color: black;
	}
}
