.form_container {
	display: flex;
	@media only screen and (max-width: 960px) {
		flex-direction: column;
	}
}

.nav {
	display: flex;
	align-items: center;
	img {
		width: 5rem;
		height: 5rem;
	}
	h1 {
		margin-left: 2px;
		color: wheat;
		font-size: 5rem;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgb(90, 62, 62);
		font-family: 'Poppins', sans-serif;
		padding: auto;
	}
	h1:hover {
		text-shadow: 2px 2px rgb(100, 66, 66);
		cursor: pointer;
	}
}
.tag {
	font-weight: 400;
	font-size: large;
	color: wheat;
	text-shadow: 2px 2px 2px rgb(90, 62, 62);
	margin: 0rem 5rem;
}
