.topBar {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}
.addNew {
	display: inline-block;
	background-color: #187f52;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: white;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}
.addNewForm {
	width: 100%;
	font-size: smaller;
	div {
		align-items: center;
	}
	label {
		font-size: 1.5rem;
		margin-left: 1.5rem;
	}
	h1 {
		text-align: center;
		margin-bottom: 10px;
	}
	input {
		margin-bottom: 10px;
		display: block;
		padding: 1rem;
		border: none;
		border-radius: 10px;
		font-size: 1.8rem;
		color: black;
		background-color: #bbbbbb;
		min-height: 5rem;
	}
	textarea {
		display: block;
		padding: 1rem;
		height: 20%;
		border: none;
		border-radius: 5px;
		font-size: 1.8rem;
		color: black;
		background-color: #bbbbbb;
		min-height: 15rem;
		min-width: 25rem;
	}

	button {
		display: flex;
		margin-top: 5px;
		background-color: #156542;
		padding: 1rem;
		font-size: 1.5rem;
		border: none;
		color: whitesmoke;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgb(47, 172, 119);
			color: black;
		}
	}
	.flex {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}
	@media screen and (max-width: 600px) {
		.flex {
			display: block;
		}
	}
}
.taskList_table {
	width: 100%;
	margin-top: 2rem;
}

.cancelBtn {
	display: flex;
	margin: 1rem 4rem;
	background-color: #bbbbbb;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}

.containerflex {
	display: flex;
	align-items: center;
	font-size: small;
	margin-top: 1rem;
	gap: 5px;
	.a {
		text-decoration: none;
		cursor: pointer;
		background-color: #156542;
	}
}
hr {
	position: relative;
	top: 1rem;
	border: none;
	height: 1px;
	background: rgb(124, 15, 15);
	margin-bottom: 2rem;
}
