.title {
	color: wheat;
	text-shadow: 2px 2px 2px rgb(90, 62, 62);
	text-align: center;
	.pageTitle {
		font-size: 4rem;
	}
}

.containerline {
	width: 100%;
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-size: small;
	text-align: center;
	margin-top: 1rem;
	background-color: #187f524b;
	border-radius: 20px;
	padding: 5px;
}
.editor {
	border-radius: 25px;
	overflow: hidden;
}
.row {
	display: flex;
	justify-content: end;
}

.editorBody {
	margin-top: 10px;
	display: block;
	label {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 50px;
		input {
			margin-top: 10px;
		}
	}
}

.outputBox {
	button {
		font-size: 1.5rem;
		padding: 10px;
		display: flex;
		margin: auto;
		margin-top: 10px;
		background-color: cornflowerblue;
		border-radius: 10px;
	}
	textarea {
		display: flex;
		border-radius: 10px;
		margin: auto;
		margin-top: 10px;
		width: 70%;
		height: 50px;
		padding: 10px;
	}
	textarea::placeholder {
		padding: 5px;
	}
	h1 {
		margin-top: 20px;
		color: wheat;
		text-shadow: 2px 2px 2px rgb(90, 62, 62);
		text-align: center;
	}

	p {
		text-align: center;
		font-size: 1.25rem;
		font-weight: 400;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background-color: rgb(253, 253, 253);
		width: 70%;
		margin: auto;
		margin-top: 3px;
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid black;
		box-shadow: 5px 5px 0px black;
		overflow: auto;
	}
	p {
		font-size: 1.5rem;
		// text-shadow: 2px 2px 2px rgb(0, 0, 0);
	}
}

.playgroundBox {
	margin: 15px 0px 15px;
	p {
		text-align: center;
		font-size: 1.25rem;
		font-weight: 400;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background-color: rgb(253, 253, 253);
		width: 100%;
		margin: auto;
		margin-top: 3px;
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid black;
		box-shadow: 5px 5px 0px black;
		overflow: auto;
	}
	input {
		padding: 10px;
		margin-top: 20px;
		border-radius: 15px;
		border: none;
		width: 150px;
	}
	button {
		padding: 10px;
		margin: 0px auto;
		background-color: green;
		margin-left: 10px;
		border-radius: 10px;
		border: none;
		color: white;
	}
}
