.task_item {
	background-color: rgba(128, 128, 128, 0.226);
	font-size: 1.5rem;
	&:hover {
		background-color: rgba(95, 95, 95, 0.2);
	}
}
.action {
	display: flex;
}
.assignBtn {
	margin: auto auto;
	display: flex;
	justify-self: center;
	border: 1px solid rgb(146, 214, 155);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: rgb(59, 139, 86);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(18, 131, 23);
		color: rgb(205, 205, 205);
	}
}

.deleteBtn {
	display: flex;
	margin: auto auto;
	border: 1px solid red;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: red;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(155, 21, 21);
		color: rgb(205, 205, 205);
	}
}
.updateBtn {
	margin: auto auto;
	display: flex;
	border: 1px solid blue;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: blue;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: rgb(48, 27, 163);
		color: rgb(205, 205, 205);
	}
}

td {
	padding: 0.25rem;
	text-align: center;
	vertical-align: center;
	height: 10px;
	border-radius: 20px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(63, 83, 70, 0.288);
}
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(92, 85, 85, 0.3);
	background-color: #f5f5f500;
	border-radius: 200px;
}

*::-webkit-scrollbar {
	width: 2px;
	background-color: #00000000;
	// overflow: hidden;
	border-radius: 200px;
}

*::-webkit-scrollbar-thumb {
	background-color: #056641;
	border-radius: 20px;
}

.modal {
	position: absolute;
	overflow: auto;
	justify-content: space-between;
	width: 80%;
	height: 80%;
	padding: 30px;
	margin: 5% 10%;
	border: solid;
	background: rgb(140, 184, 131);
	border-radius: 20px;
	.modalClose {
		display: inline-block;
		float: right;
		border: 0px;
		padding: 1rem;
		font-size: 2.5rem;
		font-weight: 900;
		background-color: rgba(12, 8, 0, 0);
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			color: rgb(93, 112, 24);
		}
	}
	h2 {
		display: block;
	}
}

.modalViewAll {
	position: absolute;
	overflow: auto;
	justify-content: space-between;
	width: 60%;
	height: 60%;
	padding: 30px;
	margin: 10% 20%;
	border: solid;
	background: rgb(140, 184, 131);
	border-radius: 20px;

	@media screen and (max-width: 425px) {
		padding: 5px;
		width: 90%;
		height: 60%;
		padding: 30px;
		margin: 5% 5%;
	}

	.modalClose {
		display: inline-block;
		float: right;
		border: 0px;
		padding: 1rem;
		font-size: 2.5rem;
		font-weight: 900;
		background-color: rgba(12, 8, 0, 0);
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			color: rgb(93, 112, 24);
		}
	}
	h2 {
		display: block;
	}
}

.active {
	color: rgb(4, 102, 4);
	font-size: 1.5rem;
	font-weight: 600;
}
.completed {
	color: grey;
	font-size: 1.5rem;
	font-weight: 600;
}

.titleQuestion {
	display: inline;
	text-transform: capitalize;
	font-size: 1.25em;
	color: wheat;
	text-shadow: 2px 2px 2px rgb(90, 62, 62);
}
.titleTask {
	font-size: 1.5em;
}
// modal for question

.topBar {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}
.addNew {
	display: inline-block;
	background-color: #187f52;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: white;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}
.addNewForm {
	margin-top: 20px;
	width: 100%;

	font-size: 20px;
	label {
		font-size: 18px;
		font-weight: 600;
	}
	h1 {
		text-align: center;
	}
	input {
		margin-bottom: 10px;
		display: block;
		width: 45%;
		padding: 1rem;
		border: none;
		border-radius: 10px;
		font-size: 1.25rem;
		color: black;
		background-color: #ffffff;
		min-height: 5rem;
	}
	input::placeholder {
		font-size: 16px;
		display: block;
	}

	textarea {
		display: block;
		padding: 1rem;
		border: none;
		border-radius: 5px;
		font-size: 1.5rem;
		color: black;
		background-color: #ffffff;
		min-height: 15rem;
		min-width: 100%;
	}

	button {
		display: block;
		margin: 0px 0px 10px 10px;
		background-color: #156542;
		padding: 1rem;
		font-size: 1.25rem;
		border: none;
		color: whitesmoke;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: rgba(123, 238, 129, 0.233);
			color: rgb(0, 0, 0);
		}
	}
	.row {
		display: flex;
		justify-content: space-evenly;

		gap: 10px;
		@media screen and (max-width: 460px) {
			display: block;
			margin-bottom: 20px;
		}
		.radioLabel {
			cursor: pointer;
			font-size: 1.25rem;
			font-weight: bolder;
			display: flex;
			align-items: center;
			gap: 5px;
			border-radius: 40%;
			width: 50%;
			justify-content: center;
			input {
				width: 2rem;
				margin-top: 8px;
			}
		}
		.radioLabel:hover {
			color: #056641;
		}
	}
	.columnInput {
		flex: 40%;
		background-color: rgba(138, 138, 138, 0.404);
		border-radius: 30px;
		padding: 30px;
		@media screen and (max-width: 460px) {
			display: block;
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: 600px) {
		.flex {
			display: block;
		}
	}
}
.columnSampleCode {
	flex: 60%;
	background-color: rgba(138, 138, 138, 0.404);
	border-radius: 30px;
	padding: 30px;
	width: 100%;
}
.language {
	width: 50%;
}

.taskList_table {
	width: 100%;
	margin-top: 2rem;
}

.cancelBtn {
	display: flex;
	margin: 1rem 4rem;
	background-color: #bbbbbb;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}

.containerAllQuestion {
	width: 100%;
	padding: 5px;
	gap: 10px;
	margin: auto;

	.card {
		display: inline-block;
		padding: 10px;
		max-width: 50%;
		width: 50%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		border-radius: 5px;
		@media screen and (max-width: 1024px) {
			max-width: 100%;
			width: 100%;
		}
		img {
			width: 100px;
			height: 100px;
			@media screen and (max-width: 425px) {
				display: none;
			}
		}
		.content {
			display: flex;
			flex: 100%;
			gap: 10px;
			width: 100%;

			.row {
				display: flex;
				width: 100%;
				align-items: end;
				margin-bottom: 5px;
				justify-content: space-between;
				h2 {
					font-weight: bolder;
					font: 1.5em 500;
					color: wheat;
					text-shadow: 1px 1px 0px rgb(0, 0, 0);
				}
				h4 {
					font-size: 1.5rem;
					font-weight: 700;
				}
			}
			.column {
				flex: 100%;
			}
		}
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}
	input,
	select {
		width: 50%;
		background-color: rgb(255, 255, 255);
		padding-left: 5px;
		border-radius: 5px;
		min-height: 30px;
	}
}
.center {
	text-align: center;
}

.btnContainer {
	float: right;
	button {
		margin: 5px 3px;
	}
}
