.topBar {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 2rem;
}
.addNew {
	display: inline-block;
	background-color: #187f52;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: white;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}
.addNewForm {
	width: 100%;
	label {
		font-size: 1.5rem;
		margin-left: 1.5rem;
	}
	h1 {
		margin-left: 50%;
	}
	input,
	textarea {
		font-size: smaller;
		margin: 1rem 4rem;
		display: block;
		padding: 1rem;
		height: 5rem;
		width: 30%;
		border: none;
		border-radius: 5px;
		font-size: 1.8rem;
		color: black;
		background-color: #bbbbbb;
	}
	input[type='text'] {
		width: 20%;
		height: 5rem;
	}
	button {
		display: flex;
		margin: 1rem 4rem;
		background-color: #bbbbbb;
		padding: 1rem 2rem;
		font-size: 1.8rem;
		border: none;
		color: black;
		border-radius: 6px;
		cursor: pointer;
		transition: 0.3s ease background-color, 0.3s ease color;
		&:hover {
			background-color: #156542;
			color: rgb(205, 205, 205);
		}
	}
}
.taskList_table {
	width: 100%;
	margin-top: 2rem;
}

.cancelBtn {
	display: flex;
	margin: 1rem 4rem;
	background-color: #bbbbbb;
	padding: 1rem 2rem;
	font-size: 1.8rem;
	border: none;
	color: black;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s ease background-color, 0.3s ease color;
	&:hover {
		background-color: #156542;
		color: rgb(205, 205, 205);
	}
}

.containerflex {
	display: flex;
	align-items: center;
	font-size: small;
	gap: 5px;
	margin-top: 1rem;
	.a {
		text-decoration: none;
		cursor: pointer;
		background-color: #156542;
	}
}
hr {
	position: relative;
	top: 1rem;
	border: none;
	height: 1px;
	background: rgb(124, 15, 15);
	margin-bottom: 2rem;
}
